@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model SpecialPlugin.Project.NewDapperDemo.Dtos.BookTagDto
}

<h1>@Model.LibraryCode</h1>
<img src="../Resource1/loge.jpg">
